@media only screen and (max-width: 400px) {
    .inform {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            margin-top: 40px;
        }

        .card {
            border: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 60px;

            p {
                width: 60%;
                text-align: center;
            }

            img {
                width: 80px;
                height: 65px;
            }
        }

    }
}


@media only screen and (min-width: 400px) {
    .inform {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            margin-top: 40px;
        }

        .card {
            border: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 60px;

            p {
                width: 60%;
                text-align: center;
            }

            img {
                width: 80px;
                height: 65px;
            }
        }

    }
}

@media only screen and (min-width: 992px) {
    .inform {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4 {
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 30px;
            margin-top: 40px;

        }

        .content {
            display: flex;

            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 60px;

                p {
                    width: 60%;
                    text-align: center;
                    font-size: 20px;
                }

                img {
                    width: 100px;
                    height: 85px;
                }
            }
        }



    }
}