@media only screen and (max-width: 400px) {
    .pictures {


        .bg-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 250px;
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Image/bg-taxi.jpeg);
            background-size: cover;

            h2 {
                color: #F7C119;
                font-weight: bold;
                font-size: 20px;
            }

            .number {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: auto;
                color: #fff;
                background-color: transparent;

            }

            img {
                width: 280px;
                height: 150px;
                position: absolute;
                top: 284px;
            }


        }

        .bg-2 {
            width: 100%;
            height: 149px;
            background-color: #F7C119;

        }
    }

    .book-form {
        width: 100%;
        height: 1000px;
        background-color: #F7C119;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .text {
            width: 79%;
            height: auto;

            p {
                font-weight: 400;
                font-size: 18px;
            }

            button {
                width: 100px;
                height: 40px;
                color: #fff;
                background-color: #000;
                border: none;
                text-transform: uppercase;
                font-family: 'Oswald', sans-serif;
                cursor: pointer;
            }
        }

        .form-table {
            width: 80%;
            height: auto;
            padding: 20px;
            background-color: #000;
            margin-top: 40px;

            form {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;

                input {
                    margin-top: 10px;
                }

                textarea {
                    height: 120px;
                    margin-top: 10px;
                }

                button {
                    width: 90px;
                    height: 47px;
                    margin-top: 10px;
                    border: none;
                    font-family: 'Oswald', sans-serif;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }
        }

    }

}






@media only screen and (min-width: 400px) {
    .pictures {

        .bg-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 250px;
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Image/bg-taxi.jpeg);
            background-size: cover;

            h2 {
                font-size: 24px;
                color: #F7C119;
                font-weight: bold;
            }

            .number {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                color: #fff;
                background-color: transparent;

                h4 {
                    font-size: 40px;
                }
            }

            img {
                width: 360px;
                height: 200px;
                position: absolute;
                top: 284px;
            }


        }

        .bg-2 {
            width: 100%;
            height: 149px;
            background-color: #F7C119;

        }
    }

    .book-form {
        width: 100%;
        height: 1000px;
        background-color: #F7C119;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .text {
            width: 79%;
            height: auto;

            p {
                font-weight: 400;
                font-size: 18px;
            }

            button {
                width: 100px;
                height: 40px;
                color: #fff;
                background-color: #000;
                border: none;
                text-transform: uppercase;
                font-family: 'Oswald', sans-serif;
                cursor: pointer;
            }
        }

        .form-table {
            width: 80%;
            height: auto;
            padding: 20px;
            background-color: #000;
            margin-top: 40px;

            form {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;

                input {
                    margin-top: 10px;
                }

                textarea {
                    height: 120px;
                    margin-top: 10px;
                }

                button {
                    width: 90px;
                    height: 47px;
                    margin-top: 10px;
                    border: none;
                    font-family: 'Oswald', sans-serif;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }
        }

    }

}





@media only screen and (min-width: 992px) {
    .pictures {

        .bg-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 250px;
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Image/bg-taxi.jpeg);
            background-size: cover;

            h2 {
                font-size: 34px;
                color: #F7C119;
                font-weight: bold;
            }



            .number {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                color: #fff;
                background-color: transparent;

                h4 {
                    font-size: 77px;
                }
            }

            img {
                width: 474px;
                height: 247px;
                position: absolute;
                top: 263px;
            }


        }

        .bg-2 {
            width: 100%;
            height: 149px;
            background-color: #F7C119;

        }
    }

    .book-form {
        width: 100%;
        height: 590px;
        background-color: #F7C119;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .text {
            width: 40%;
            height: auto;

            p {
                width: 80%;
                font-weight: 400;
                font-size: 18px;
            }

            button {
                width: 100px;
                height: 40px;
                color: #fff;
                background-color: #000;
                border: none;
                text-transform: uppercase;
                font-family: 'Oswald', sans-serif;
                cursor: pointer;
            }
        }

        .form-table {
            width: 40%;
            height: auto;
            padding: 20px;
            background-color: #000;
            margin-top: 40px;

            form {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;

                input {
                    margin-top: 10px;
                }

                textarea {
                    height: 120px;
                    margin-top: 10px;
                }

                button {
                    width: 90px;
                    height: 47px;
                    margin-top: 10px;
                    border: none;
                    font-family: 'Oswald', sans-serif;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }
        }

    }
}